### Notebook to add additional features to the single season DataFrame
#### a) Points of Home and Away team before each game
#### b) Position of Home and Away team before each game

In [82]:
import pandas as pd

In [89]:
#Accessing pd_data from main notebook. Overwrite if others needed
%store -r pd_data

In [84]:
# Function to calculate month each game was played 
# Will be useful for 
pd.DatetimeIndex(pd_data['Date']).month

Int64Index([8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
            ...
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', name='Date', length=380)

In [85]:
#unique teams
uniqueTeams = pd_data['HomeTeam'].unique()

#build dict with all teams in that season; initialize to zero for each
teamPoints = {uniqueTeams[i]:0 for i in range(0,len(uniqueTeams))};

In [86]:
# Adding new feature: Points before each game starts
# PBGH = PointsBeforeGameHomeTeam
# PBGA = PointsBeforeGameAwaayTeam
pd_data['PBGH'] = 0
pd_data['PBGA'] = 0

for index,row in pd_data.iterrows():
    #set points before start of game into DataFrame
    pd_data.loc[index,'PBGH'] = teamPoints[row['HomeTeam']]
    pd_data.loc[index,'PBGA'] = teamPoints[row['AwayTeam']]
    #check who won and who lost
    if (row['FTR']=='D'):
        teamPoints[row['HomeTeam']] += 1
        teamPoints[row['AwayTeam']] += 1
    elif (row['FTR']=='H'):
        teamPoints[row['HomeTeam']] += 3
    elif (row['FTR']=='A'):
        teamPoints[row['AwayTeam']] += 3

In [87]:
pd_data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,PBGH,PBGA
0,E0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,...,-1.25,2.02,1.96,1.96,1.91,1.44,4.72,8.71,0,0
1,E0,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,...,-0.5,1.83,1.8,2.14,2.09,1.84,3.75,4.75,0,0
2,E0,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,...,0,1.93,1.88,2.03,1.97,2.83,3.35,2.72,0,0
3,E0,2012-08-18,QPR,Swansea,0,5,A,0,1,A,...,-0.25,1.8,1.75,2.21,2.13,2,3.53,4.15,0,0
4,E0,2012-08-18,Reading,Stoke,1,1,D,0,1,A,...,-0.25,2.07,2.01,1.91,1.86,2.47,3.3,3.22,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,2013-05-19,Swansea,Fulham,0,3,A,0,1,A,...,-0.75,1.98,1.95,1.96,1.91,1.66,4.09,5.76,46,40
376,E0,2013-05-19,Tottenham,Sunderland,1,0,H,0,0,D,...,-1.5,1.83,1.77,2.17,2.09,1.25,6.6,15,69,39
377,E0,2013-05-19,West Brom,Man United,5,5,D,1,3,A,...,0.75,1.85,1.8,2.14,2.07,3.65,3.42,2.17,48,88
378,E0,2013-05-19,West Ham,Reading,4,2,H,2,0,H,...,-1,2.17,2.11,1.82,1.77,1.59,4.36,6.13,43,28
379,E0,2013-05-19,Wigan,Aston Villa,2,2,D,2,1,H,...,-0.25,1.86,1.79,2.15,2.07,2.1,3.56,3.77,35,40

In [88]:
teamPoints

{'Arsenal': 73,
 'Fulham': 43,
 'Newcastle': 41,
 'QPR': 25,
 'Reading': 28,
 'West Brom': 49,
 'West Ham': 46,
 'Man City': 78,
 'Wigan': 36,
 'Everton': 63,
 'Chelsea': 75,
 'Aston Villa': 41,
 'Man United': 89,
 'Norwich': 44,
 'Southampton': 41,
 'Swansea': 46,
 'Tottenham': 72,
 'Liverpool': 61,
 'Stoke': 42,
 'Sunderland': 39}