In [65]:
import pandas as pd

In [67]:
df = pd.DataFrame(
    {'HomeTeam':['A','B','C','D','E','A','B','C','D','E','A','B','C']
     ,'AwayTeam':['C','A','B','E','D','B','D','E','C','A','E','C','A']
     , 'Result' : ['Home','Away','Away','Draw','Draw','Home','Away','Draw','Away','Home','Away','Away','Draw']
    })

In [68]:
df

   HomeTeam AwayTeam Result
0         A        C   Home
1         B        A   Away
2         C        B   Away
3         D        E   Draw
4         E        D   Draw
5         A        B   Home
6         B        D   Away
7         C        E   Draw
8         D        C   Away
9         E        A   Home
10        A        E   Away
11        B        C   Away
12        C        A   Draw

In [69]:
#across all seasons thus far
uniqueTeams = df['HomeTeam'].unique()

#build dict with ALL teams; initialize to ----- for each
teamStreak = {uniqueTeams[i]:'-----' for i in range(0,len(uniqueTeams))}; 

#setup new column and assign it an initial value
df['HomeStreak'] = 'Not set'
df['AwayStreak'] = 'Not set'

In [70]:
df

   HomeTeam AwayTeam Result HomeStreak AwayStreak
0         A        C   Home    Not set    Not set
1         B        A   Away    Not set    Not set
2         C        B   Away    Not set    Not set
3         D        E   Draw    Not set    Not set
4         E        D   Draw    Not set    Not set
5         A        B   Home    Not set    Not set
6         B        D   Away    Not set    Not set
7         C        E   Draw    Not set    Not set
8         D        C   Away    Not set    Not set
9         E        A   Home    Not set    Not set
10        A        E   Away    Not set    Not set
11        B        C   Away    Not set    Not set
12        C        A   Draw    Not set    Not set

In [71]:
for index,row in df.iterrows():
    
    #Populate streak data into columns before game outcome is counted
    df.at[index,'HomeStreak'] = teamStreak[row['HomeTeam']];
    df.at[index,'AwayStreak'] = teamStreak[row['AwayTeam']];
    
    #check who won and who lost
    if (row['Result']=='Draw'):
        teamStreak[row['HomeTeam']] = 'D' + teamStreak[row['HomeTeam']]
        teamStreak[row['AwayTeam']] = 'D' + teamStreak[row['AwayTeam']]
    elif (row['Result']=='Home'):
        teamStreak[row['HomeTeam']] = 'W' + teamStreak[row['HomeTeam']]
        teamStreak[row['AwayTeam']] = 'L' + teamStreak[row['AwayTeam']]
    elif (row['Result']=='Away'):
        teamStreak[row['HomeTeam']] = 'L' + teamStreak[row['HomeTeam']]
        teamStreak[row['AwayTeam']] = 'W' + teamStreak[row['AwayTeam']]

    #snipping off last character since above if block added a result to start
    teamStreak[row['HomeTeam']] = teamStreak[row['HomeTeam']][0:-1]
    teamStreak[row['AwayTeam']] = teamStreak[row['AwayTeam']][0:-1]

In [72]:
df

   HomeTeam AwayTeam Result HomeStreak AwayStreak
0         A        C   Home      -----      -----
1         B        A   Away      -----      W----
2         C        B   Away      L----      L----
3         D        E   Draw      -----      -----
4         E        D   Draw      D----      D----
5         A        B   Home      WW---      WL---
6         B        D   Away      LWL--      DD---
7         C        E   Draw      LL---      DD---
8         D        C   Away      WDD--      DLL--
9         E        A   Home      DDD--      WWW--
10        A        E   Away      LWWW-      WDDD-
11        B        C   Away      LLWL-      WDLL-
12        C        A   Draw      WWDLL      LLWWW